header {
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $gassed-margin;
    padding: 30px 0;

    .column {
      width: 32%;

      &:last-of-type {
        text-align: right;
      }

      a .logo {
        width: 15%;

        &:hover {
          transform: scale(1.1);
        }
      }

      a h1 {
        text-align: center;
        font-size: 2.3em;

        &:hover {
          color: $gassed-secondary-color;
        }
      }

      a i {
        font-size: 1.3em;
        margin: 0 15px;

        &:hover {
          transform: scale(1.1);
        }
      }

      .search-holder {
        position: absolute;
        top: 10%;
        right: 12%;
        display: none;
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.528);

        form {
          .search-field {
            width: 200px;
            height: 40px;
            padding-left: 10px;
            border-radius: 5px;
            border: 3px solid $gassed-primary-color;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

            &:focus {
              outline: none;
            }
          }
          button {
            height: 40px;
            border-radius: 5px;
            padding: 0 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: $gassed-primary-color;
            color: $colour-white;
            font-weight: 600;
            border: 0;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          }
        }
      }
      .search-holder.active {
        display: block;
      }

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: right;

        ul {
          .menu-item {
            margin: 0 15px;
          }
        }
      }
    }
  }
  .category-banner {
    background: $gassed-background;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    text-transform: uppercase;

    a {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      h2 {
        color: $colour-white;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}
