// body

$colour-white: #fff;
$colour-dark: #000;
$gassed-margin: 0 30px;
$gassed-background: linear-gradient(
  135deg,
  rgb(6, 147, 227) 0%,
  rgb(255, 119, 0) 49%,
  rgb(155, 81, 224) 100%
);
$gassed-primary-color: rgb(6, 147, 227);
$gassed-secondary-color: rgb(255, 119, 0);
$gassed-third-color: rgb(155, 81, 224);
